<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432415461669-qpkli11bq5depemj0dnt52bo08kp0fe3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432415461669-qpkli11bq5depemj0dnt52bo08kp0fe3</string>
	<key>API_KEY</key>
	<string>AIzaSyAzIa2InDtm1iIOJ_LGhiOXgQ-_m0JnMkE</string>
	<key>GCM_SENDER_ID</key>
	<string>432415461669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pup.appdevelopment</string>
	<key>PROJECT_ID</key>
	<string>pup-rmrs-bb1e5</string>
	<key>STORAGE_BUCKET</key>
	<string>pup-rmrs-bb1e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432415461669:ios:0eb55a850b48c4308f0acc</string>
</dict>
</plist>